.our-tools {
  margin-top: 50px;
}
h2 {
  text-align: center;
}
.list-tools {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  & div {
    width: 100px;
    height: 100px;
    background-color: rgb(241, 241, 241);
    margin: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
    img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 60px;
    }
  }
}
