.phone-window {
  width: 350px;
  height: 600px;
  border-radius: 30px;
  box-shadow: 0px 0px 22px 14px rgba(0, 0, 0, 0.92);
}
.table-window {
  width: 820px;
  height: 800px;
  border-radius: 30px;
  box-shadow: 0px 0px 22px 14px rgba(0, 0, 0, 0.92);
}
.pc-window {
  width: 1600px;
  height: 800px;
  border-radius: 30px;
  box-shadow: 0px 0px 22px 14px rgba(0, 0, 0, 0.92);
}
.but-popup {
  border: none;
  //   background: none;
}
.icon-popup {
  width: 30px;
}
.btn-icon-screen {
  text-align: right;
}
