.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 9999;
  overflow: auto; /* Добавьте прокрутку */
}
